.login{
    width:300px;
    height: 300px;
    border: solid grey;
    border-radius: 10px; 
    /* câu lệnh tạo đường bo góc */
    text-align: center;
    
}
h2{
    font-family: serif;
    color: #868787;

}
input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
}
button{
    width: 220px;
    height: 40px;
    margin-bottom: 10px;
    border:none;
    background-color: green;
}
button:hover{
    color: white;
    background-color: yellowgreen;
}
